


h1{

    color: yellow;
    /* margin-left: 300px; */
    font-size: 31px;
    font-family: Montserrat ;
    display: inline-block;
   
}
h5{

  color: #ACACAC;


}

p {
   color: white;
    margin-left: 2px;  
   font-size: 9px;
    margin-top: -25px; 
   font-family: Montserrat;

   letter-spacing: 2px;
 
 
    
}

.button1 {
  background-color: #001C37;
  border: none;
  color: white;
  padding:  5px 5px;
  font-size: 10px;
  margin: 30px 7px ;


}

.colourblue{

  grid-column-start: 1;
  grid-column-end: 3;
  color: #001C37;
  margin-left: 250px;
  padding-top: 50px;
  height: 300px;
  font-family: Montserrat;



}
.positionofbox{
background-color: #F4F4F4;
  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 500px;
  margin-top: -115px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox1{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 65px;
  margin-top: -115px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox2{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 550px;
  margin-top: -115px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox3{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 300px;
  margin-top: 0px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox4{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 500px;
  margin-top: 0 px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}

.positionofbox5{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 370px;
  margin-top: 0px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox6{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 500px;
  margin-top: 0 px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}
.positionofbox7{

  grid-column-start: 1;
  grid-column-end: 4;
  color: #001C37;
  height: 70px;
  width: auto;
  margin-top: 0px;
  /* margin-left: 250px;
  padding-top: 50px;
  height: 400px;
  font-family: Montserrat; */
}